    <nav class="navbar navbar-expand-lg navbar-success bg-success">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home">Home</a>
            <div class="paragraph">
                <p>South African COVID-19 Vaccination Programme Registration</p>
            </div>
            <button class="btn btn-outline-light" type="submit">English</button>
          </div>
        </div>
    </nav>