<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Address</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <style>
        .paragraph{
            display: block;
            margin-left: auto;
            margin-right: auto;
            color: white;
            font-size: large;
        }

        #paragraph{
            color: red;
        }

        #sentence{
            text-align: center;
        }
        .form-select{
            margin: 0 auto;
            float: none;
            width: 55rem;
        }

        #button{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        h1{
            font-size: 1.5rem;
        }
        #input {
            display: block;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: -1rem;
            width: 50rem;
        }
        .card {
            margin: 0 auto; /* Added */
            float: none; /* Added */
            margin-bottom: 10px; /* Added */
        }

        select{
            width: 52rem;
            display: block;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 1rem;
        }

        #input {
            display: block;
            margin-right: auto;
            margin-left: auto;
            width: 52rem;
        }
    </style>
    <body>
        <section>
            <nav class="navbar navbar-expand-lg navbar-success bg-success">
                <div class="container-fluid">
                    <div class="paragraph">
                        <p>South African COVID-19 Vaccination Programme Registration</p>
                    </div>
                    <form class="d-flex">
                      <button class="btn btn-outline-light" type="submit">English</button>
                    </form>
                  </div>
                </div>
            </nav>
        </section>
        <section>
            <div class="container">
                </br>
                    <h1 style="text-align: center">Step 4 of 8: Contact Details</h1>
                    <i class="bi bi-info-square"></i>
                </br>
                
                <div class="card text-dark bg-light mb-3" style="max-width: 52rem;">
                    <div class="card-body">
                      <p class="card-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg>
                          Please enter your address as accurately as possible. This will help us allocate you to an <b>available</b> vaccination site
                            <b>as close</b> and <b>as soon</b> as possible.
                      </p>
                    </div>
                </div>
                <select name="meal" id="meal" onChange="changecat(this.value);">
                    <option value="" disabled selected>Select</option>
                    <option value="WesternCape">Western Cape</option>
                    <option value="KwaZuluNatal">Kwa-Zulu Natal</option>
                    <option value="Gauteng">Gauteng</option>
                </select>
                <select name="category" id="category">
                    <option value="" disabled selected>Select</option>
                </select>

                <input id="input" placeholder="Address"><br><br>

                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <button class="btn btn-secondary me-md-2" type="button" onclick="location.href='/contact-details'">Back</button>
                    <button class="btn btn-secondary" type="button" onclick="location.href='/appointment-preference'">Next</button>
                </div>
            </div>
        </section>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>

        <script>
            var mealsByCategory = {
            WesternCape: ["City of Cape Town Metropolitan", "Cape Winelands District", "Central Karoo District", "Others"],
            KwaZuluNatal: ["eThekwini", "Amajuba District", "Harry Gwala District", "Others"],
            Gauteng: ["City of Ekurhuleni", "City of Johannesburg Metropolitan Municipality", "Emfuleni Local Municipality", "Lesedi Local Municipality", "Others"]
            }

            function changecat(value) {
                if (value.length == 0) document.getElementById("category").innerHTML = "<option></option>";
                else {
                    var catOptions = "";
                    for (categoryId in mealsByCategory[value]) {
                        catOptions += "<option>" + mealsByCategory[value][categoryId] + "</option>";
                    }
                    document.getElementById("category").innerHTML = catOptions;
                }
            }
        </script>
    </body>
</html>
