<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Details</title>

    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</head>

<body>
    <section>
        <nav class="navbar navbar-expand-lg navbar-success bg-success">
            <div class="container-fluid">
                <div class="paragraph">
                    <p>South African COVID-19 Vaccination Programme Registration</p>
                </div>
                <form class="d-flex">
                    <button class="btn btn-outline-light" type="submit">English</button>
                </form>
            </div>
            </div>
        </nav>
    </section>
    <section>
        <div class="container">
            <% if(typeof alert != 'undefined') { %>
                <% alert.forEach(function(error) { %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert">
                        <%= error.msg %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                <% }) %>
            <% } %>
            <form name="form" action="/contact-details" method="POST">
                </br>
                <h1 style="text-align: center">Step 3 of 8: Contact Details</h1>
                </br>
                    <input id="input" name="phone" placeholder="Mobile Number"><br><br>
                    <p id="paragraph" style="text-align: center">
                        Please make sure your phone number is correct, as we will use this to communicate with you<br>
                        during COVID-19 vaccination process
                    </p>
                    <input id="input" name="email" type="email" placeholder="E-mail address"><br>
                    <div id="sentence">
                        <p style="color: gray;">E-mail address is optional</p>
                    </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <button class="btn btn-secondary me-md-2" type="button"
                        onclick="location.href='/id-form'">Back</button>
                    <button class="btn btn-secondary" type="submit">Next</button>
                </div>
            </form>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
        crossorigin="anonymous"></script>
</body>

</html>