<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>

        <link rel="stylesheet" href="/styles.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body>
        <%- include('../partials/nav.ejs') %>
        <section>
            <div class="container">
                <% if(typeof alert != 'undefined') { %>
                    <% alert.forEach(function(error) { %>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert">
                            <%= error.msg %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                          </div>
                    <% }) %>
                <% } %>
                <form name="form" action="/home" method="POST">
                    <img style="width: 55rem;" src="covid.jpg" class="img-fluid" alt="covid picture"><br/>
                    <div class="card text-dark bg-light mb-3" style="max-width: 55rem;">
                        <div class="card-body">
                          <h5 class="card-title">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                            </svg>
                              This is the official South African COVID-19 Vaccination Programme registration portal
                            </h5>
                          <p class="card-text">
                              <ul>
                                  <li>Vaccination is <b>voluntary and no payment is required.</b></li>
                                  <li>Everyone who registers will be offered Vaccination. <b>When it is your turn, you will recieve an SMS</b> with the date,
                                time and place for your vaccination.</li>
                                <li>Registration is now open for everybody <b>18 years and older.</b></li>
                                <li>We are moving down the age groups as quickly as we can.</li>
                              </ul>
                          </p>
                        </div>
                    </div>
                    <select class="form-select" style="width: 55rem;" aria-label="Default select example" id="age" name="age" onchange="getSelectValue();">
                            <option value="" disabled selected>Are you 18 years or older?</option>
                            <option value="1">No</option>
                            <option value="2">Yes</option>
                    </select>
                    <p style="margin:0 auto; float: none; width: 55rem; font-size: small; color:#7e807e">Tap the box above to make a choice</p>
                    </br>
                    <button id="button" type="submit" class="btn btn-secondary btn-lg" style="font-weight: bold;">Register for Vaccination</button>
                    </br></br>
                    <div class="link">
                        <p>For more information, terms and conditions please visit:</p>
                        <a style="font-weight: bold; color: rgb(0, 174, 255);"href="https://sacoronavirus.co.za/evds/tscs/">https://sacoronavirus.co.za/evds/tscs/</a>
                    </div>
                    </br></br>
                </form>
            </div>
        </section>
        <script>
            function getSelectValue()
        {
            var selectedValue = document.getElementById("age").value;
            const button = document. querySelector('button')

            if(selectedValue == "2"){
                button. disabled = false;
            }
            else if(selectedValue == "1"){
                button. disabled = true;
            }
            else{
                button. disabled = true;
            } 
        }
        getSelectValue();

        </script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script> -->
    </body>
</html>