<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ID or Passport</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <style>
        .paragraph{
            display: block;
            margin-left: auto;
            margin-right: auto;
            color: white;
            font-size: large;
            
        }

        .btn {
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color: white;
            border: 1px solid #bfc0bf;
            border-radius: 40px;
            width: 50rem;
            height: 4rem;
            color: black;
        }

        .btn:hover {
         background-color: rgb(244, 252, 253);
        }

        #button{
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color: white;
            border: 1px solid #bfc0bf;
            color: rgb(0, 174, 255);
            border-radius: 40px;
        }
        h1{
            font-size: 1.5rem;
        }
    </style>
    <body>
        <section>
            <nav class="navbar navbar-expand-lg navbar-success bg-success">
                <div class="container-fluid">
                    <div class="paragraph">
                        <p>South African COVID-19 Vaccination Programme Registration</p>
                    </div>
                    
                    <form class="d-flex">
                      <button class="b btn-outline-light" type="submit" style="color:white; background:rgb(2, 141, 76)">English</button>
                    </form>
                  </div>
                </div>
            </nav>
        </section>
        <section>
            <div class="container">
                </br>
                    <h1 style="text-align: center">Step 2 of 8: General information</h1>
                </br>
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-outline-secondary btn-lg" style="color: rgb(0, 174, 255); font-weight: bold;" onclick="location.href='/id-form'">Use South African ID</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg" style="color: black;">Use Passport</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg" style="color: black;">Use Asylum Seeker / Refugee Number</button>
                </div>
                </br>
                    <button id="button" type="button" class="button btn-secondary" onclick="location.href='/home'" style="font-weight: bold;">Go back</button>
            </div>
        </section>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    </body>
</html>