<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Medical Aid</title>

        <link rel="stylesheet" href="/styles.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body>
        <section>
            <nav class="navbar navbar-expand-lg navbar-success bg-success">
                <div class="container-fluid">
                    <div class="paragraph">
                        <p>South African COVID-19 Vaccination Programme Registration</p>
                    </div>
                    
                    <form class="d-flex">
                      <button class="btn btn-outline-light" type="submit">English</button>
                    </form>
                  </div>
                </div>
            </nav>
        </section>
        <section>
            <div class="container">
                </br>
                    <h1 style="text-align: center">Step 7 of 8: Medical Aid</h1>
                </br>
                <div class="card text-dark bg-light mb-3" style="max-width: 52rem;">
                    <div class="card-body">
                      <p class="card-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg>
                          Please provide your Medical Aid details.<br>
                          It is important to note that your Medical Aid will pay the Government directly for this vaccine. This will <b>not<br>
                        influence your day-to-day, savings or any other benefit</b>. You will not be required to pay for this vaccine and no 
                        co-payment/evy will be required.
                      </p>
                    </div>
                </div>
                <p style="text-align: center;">Do you belong to a Medical Aid?</p>
                
                <input id="input" list="browsers" name="browser" placeholder="Medical aid scheme name">
                    <datalist id="browsers">
                        <option value="AECI-MEDICAL AID SOCIETY">
                        <option value="ALLIANCE-MIDMED MEDICAL SCHEME">
                        <option value="ANGLOVAAL GROUP MEDICAL SCHEME">
                    </datalist>
                    </br></br>
                
                <input id="input" type="number" name="medicalAidNumber" placeholder="Medical aid number">
                <br><br>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <button class="btn btn-secondary me-md-2" type="button" onclick="location.href='/medical-aid'">Back</button>
                    <button class="btn btn-secondary" type="button" onclick="location.href='/successful-registration'">Next</button>
                </div>
            </div>
        </section>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    </body>
</html>